#spr1_ce87e3 {clip:rect(0px,2592px,1440px,0px);}#txt0_ce87e3 {font-family:fnt6; font-size:64px; line-height:77px; color:#ffffff;}#spr10_ce87e3,#spr15_ce87e3,#spr20_ce87e3 {display:none;}#svg1_ce87e3,#svg3_ce87e3,#svg5_ce87e3 {pointer-events:none;}