#spr1_16f9f05 {clip:rect(0px,2592px,1440px,0px);}#txt0_16f9f05 {font-family:fnt6; font-size:64px; line-height:77px; color:#ffffff;}#spr12_16f9f05,#spr17_16f9f05,#spr22_16f9f05 {display:none;}#svg1_16f9f05,#svg3_16f9f05,#svg5_16f9f05 {pointer-events:none;}