#spr1_16f795d {clip:rect(0px,2592px,1440px,0px);}#txt0_16f795d {font-family:fnt6; font-size:64px; line-height:77px; color:#ffffff;}#spr12_16f795d,#spr17_16f795d,#spr22_16f795d {display:none;}#svg1_16f795d,#svg3_16f795d,#svg5_16f795d {pointer-events:none;}