#spr1_cebd89 {clip:rect(0px,2592px,1440px,0px);}#txt0_cebd89 {font-family:fnt6; font-size:64px; line-height:77px; color:#ffffff;}#spr10_cebd89,#spr15_cebd89,#spr20_cebd89 {display:none;}#svg1_cebd89,#svg3_cebd89,#svg5_cebd89 {pointer-events:none;}