#spr1_ce520d {clip:rect(0px,2592px,1440px,0px);}#txt0_ce520d {font-family:fnt6; font-size:64px; line-height:77px; color:#ffffff;}#spr10_ce520d,#spr15_ce520d,#spr20_ce520d {display:none;}#svg1_ce520d,#svg3_ce520d,#svg5_ce520d {pointer-events:none;}